<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8"/>
    <title>Jiopeel Code by lyc</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description"/>
    <meta content="Coderthemes" name="author"/>

    <!--    <link href="bootstrap/css/icons.min.css" rel="stylesheet" type="text/css"/>-->
    <link href="bootstrap/css/app.min.css" rel="stylesheet" type="text/css"/>
    <link href="bootstrap/css/message.css" rel="stylesheet" type="text/css"/>
</head>
<style>
    .lh {
        line-height: 24px!important;
    }
</style>
<body>

<div class="wrapper">
    <div class="container" style="height: 100vh;overflow: auto;">

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h2><a href="#" class="text-info"><code>Jiopeel.com</code></a>&nbsp;&nbsp;代码生成器</h2>
                        <h4><code>Design by lyc</code></h4>
                        <p class="text-muted">
                            简介： 你可以在此处生成代码
                        </p>
                        <div class="row">
                            <div class="col-lg-12">
                                <form id="form">
                                    <div class="form-group mb-3">
                                        <button type="button" id="sumbtn" class="btn btn-success col-lg-12">Submit
                                        </button>
                                    </div>
                                    <div class="form-group mb-3">
                                        <label>代码生成选择</label>
                                        <div class="input-group">
                                            <input type="checkbox" name="backEnd" id="backEnd" checked="" data-switch="success">
                                            <label for="backEnd" data-on-label="Yes" data-off-label="No"></label>
                                            <span class="pl-1 pr-4  text-nowrap lh"> 生成后端代码 </span>
                                            <input type="checkbox" name="frontEnd" id="frontEnd" checked="" data-switch="success">
                                            <label for="frontEnd" data-on-label="Yes" data-off-label="No"></label>
                                            <span class="pl-1 pr-4  text-nowrap lh"> 生成前端代码 </span>
                                        </div>
                                    </div>
                                    <div class="form-group mb-3">
                                        <label for="tabName">表名</label>
                                        <select id="tabName" name="tabName" class="form-control">
                                            [#list tabs?if_exists as tab]
                                            <option value="${(tab.tableName)!''}" des="${(tab.tableComment)!''}">
                                                ${(tab.tableName)!''}[#if tab.tableComment?? && tab.tableComment!=''](${(tab.tableComment)!''})[/#if]
                                            </option>
                                            [/#list]
                                        </select>
                                        <input type="hidden" id="des" name="des" value="">
                                        <span class="help-block">
                                            <small></small>
                                        </span>
                                    </div>
                                    <div class="form-group mb-3">
                                        <label for="author">作者</label>
                                        <input type="text" id="author" name="author" class="form-control"
                                               value="${sys.author!''}"
                                               placeholder="作者">
                                    </div>
                                    <div class="form-group mb-3">
                                        <label for="author">公司名</label>
                                        <input type="text" id="company" readonly name="company" class="form-control"
                                               value="${sys.company!''}"
                                               placeholder="公司名">
                                    </div>
                                    <div class="form-group mb-3">
                                        <label for="author">实例名称</label>
                                        <input type="text" id="beanName" name="beanName" class="form-control" readonly
                                               placeholder="实例名称">
                                    </div>
                                    <div class="form-group mb-3">
                                        <label for="javaPath">Java文件输出路径</label>
                                        <div class="input-group">
                                            <input type="text" id="javaPath" name="javaPath" class="form-control"
                                                   value="${sys.javaPath!''}">
                                        </div>
                                    </div>
                                    <div class="form-group mb-3">
                                        <label for="viewPath">前端文件输出路径</label>
                                        <div class="input-group">
                                            <input type="text" id="viewPath" name="viewPath" class="form-control"
                                                   value="${sys.viewPath!''}">
                                        </div>
                                    </div>
                                    <div class="form-group mb-3">
                                        <label for="suffix">前端文件后缀</label>
                                        <input type="text" id="suffix" name="suffix" class="form-control"
                                               placeholder="placeholder" value="${sys.suffix!''}">
                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="/bootstrap/js/app.min.js"></script>
<script src="/bootstrap/js/ajax.js"></script>
<script src="/bootstrap/js/message.js"></script>
<script>
    $(function () {
        Code.init();
    });
    var Code = {
        init: function () {
            $('#tabName').on('change', function (event) {
                var $this = $(event.target);
                var name = $this.val().replace("t_", "");
                $('#beanName').val(Code.under2camel(name));
                var des = $this.find("option:selected").attr("des");
                $this.parent().find('small').text(des);
                $('#des').val(des);
            });
            $('#tabName').trigger('change');

            $('#sumbtn').click(function () {
                Code.submit();
            });
        },
        under2camel: function (s) {
            var separator = "_";
            var under = "";
            s = s.toLowerCase().replace(separator, " ");
            var sarr = s.split(" ");
            for (var i = 0; i < sarr.length; i++) {
                var w = sarr[i].substring(0, 1).toUpperCase() + sarr[i].substring(1);
                under += w;
            }
            return under;
        },
        submit: function () {
            Ajax.post("/submit", Ajax.serializeObject($('#form')), Code.suc, Code.err);
        },
        suc: function (res) {
            Msg.isSuc(res.message,res.result);
        },
        err: function (XMLHttpRequest) {
            Msg.error("失败请求");
        }
    }
</script>
</body>
</html>
